{% include "header.html" %}

<div class="container">
    <div class="container">
        <header>
            <h2> {{ post.title }}</h2>
            <p> By: {{ post.author }}</p>
        </header>
        <div class="panel panel-default">
            <div class="panel-body">
                {{ post.text }}
            </div>
        </div>
    </div>

    <form action={{ '/post/%s'%post.id }} method="POST">
        <input type="text" name="author" placeholder="Your Name">
        <br>
        <textarea name="text"> </textarea>
        <br>
        <input type="submit" value="Submit">
    </form>

    {% for comment in post.comments %}
        <div class="container">
            <header>
                <p> By: {{ comment.author }}</p>
            </header>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ comment.text }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
